<% provide(:title, 'Contact Us') %>
<div id="page_header" class="uh_contact-us bottom-shadow">
  <div class="bgback"><img src="assets/contact-us.png" alt="Contact Us"></div>
  <div class="container">
    <div class="row">
      <div class="span6">
      </div>
      <div class="span6">
        <div class="header-titles">
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
</div>
<!-- end page_header -->
<section id="content">
  <div class="container">
    <div class="mainbody ">
      <div class="row zn_content_no_margin">
        <div class="span12">
          <h1 class="page-title">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="span8">
        <p>
          <link rel="stylesheet" href="/assets/contactus_style.css">
        </p>
        <div class="contact-us">
          <div class="post_enquiry">
            <div id="success" style="display:none">
              <div class="alert alert-success">Message successfully sent!</div>
            </div>
            <%= form_for @contact, :url => {:controller => 'home', :action => 'contact_us' }, :html => {:id => "contact", :class => "quick_enquiry" } do |f| %>
              <div class="contact-person-email">
                <%= f.text_field :name, :placeholder => "Name", :class => "name mainform", :id => "tbcContactPerson", :tabindex => "1" %>
                <br/>
                <span class="error"><%= display_error_messages @contact.errors, [:name] %> </span>
              </div>
              <div class="contact-person-email">
                <%= f.text_field :email, :placeholder=> "E-mail Address", :class => "email mainform", :id => "tbcEmail", :tabindex => "2" %>
                <br/>
                <span class="error"><%= display_error_messages @contact.errors, [:email] %> </span>
              </div>
              <div>
                <%= f.text_area :message, :placeholder=> "Type a message here...", :class => "desc", :tabindex => "5", :id => "tbcChangeReq", :rows => "10" %>
                <br/>
                <span class="error"><%= display_error_messages @contact.errors, [:message] %></span>
              </div>
              <div class="post_enquiry_btn">
               <%= f.submit "Send your message", :class => "submit_button", :id => "submit_enquiry" %>
              </div>           
            <% end %>
          </div>
        </div>
        <p></p>
      </div>
      <div class="span4">
        <div id="text_contact-3" class="widget widget_text_contact">
          <br><br>
          <h3 class="widgettitle title m_title">GET IN TOUCH</h3>
          <div class="textwidget contact-details">
            <p>
            <h4><strong>Apsolute Technologies</strong></h4>
            </p>
            <p>
              Address:&nbsp;Ahmedabad, Gujarat, India
            </p>
            <p>
              Email:&nbsp;<a href="#">apsolutetechnology@gmail.com</a>
            </p>
            <p>   
              <strong>Phone:&nbsp;(9179) 40326868</strong>
            </p>
          </div>
        </div>
        <div class="widget widget_text_contact" id="text_contact-3">
          <h3 class="widgettitle title m_title">Social</h3>
          <div class="textwidget contact-details">
            <p><span class="icn-facebook"></span><a href="https://www.facebook.com/dipak.keshariya.3">@apsolute</a></p>
            <p><span class="icn-twitter"></span><a href="https://twitter.com/ApSoluteTech">@apsolute</a></p>
            <p><span class="icn-google-plus"></span> <a href="https://plus.google.com/u/0/113683917761543645898/posts?rel=auther">@apsolute</a></p>
            <p><span class="icn-linkedin"></span><a href="http://www.linkedin.com/pub/apsolute-technologie-hiring-ror-wordpress-cocos-2dx-developer/88/67/410">@apsolute</a></p>
            <p><span class="icn-skype"></span> <a href="skype:dipak.aplosute?userinfo">@apsolute</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end #content -->