  <section class="carousel carousel-fade slide home-slider" id="c-slide">
  <ol class="carousel-indicators">
    <li data-target="#c-slide" data-slide-to="0" class=""></li>
    <li data-target="#c-slide" data-slide-to="1" class=""></li>
    <li data-target="#c-slide" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" style="background: url(/assets/4.png);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 animated fadeInUp notransition">
            <img src="/assets/6_flow.png" alt="" style="width:90%;">
          </div>
          <div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
            <div class="car-highlight1 animated fadeInLeftBig">
               Android Development
            </div>
            <br>
            <div class="car-highlight2 animated fadeInRightBig notransition">
               iPhone Development
            </div>
            <br>
            <div class="car-highlight3 animated fadeInUpBig notransition">
               BlackBerry Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Windows Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Website Development
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>


    <div class="item" style="background: url(/assets/2.png);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 animated fadeInUp notransition">
            <img src="/assets/all.png" alt="" style="width:90%;">
          </div>
          <div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
            <div class="car-highlight1 animated fadeInLeftBig">
               Android Development
            </div>
            <br>
            <div class="car-highlight2 animated fadeInRightBig notransition">
               iPhone Development
            </div>
            <br>
            <div class="car-highlight3 animated fadeInUpBig notransition">
               BlackBerry Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Windows Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Website Development
            </div>
            <br>
            
          </div>
        </div>
      </div>
    </div>

  <div class="item" style="background: url(/assets/3.png);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 animated fadeInUp notransition">
            <img src="/assets/no2.png" alt="" style="width:90%;">
          </div>
          <div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
            <div class="car-highlight1 animated fadeInLeftBig">
               Android Development
            </div>
            <br>
            <div class="car-highlight2 animated fadeInRightBig notransition">
               iPhone Development
            </div>
            <br>
            <div class="car-highlight3 animated fadeInUpBig notransition">
               BlackBerry Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Windows Development
            </div>
            <br>
            <div class="car-highlight4 animated flipInX notransition">
               Website Development
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>


   </div>
  <!-- /.carousel-inner -->
  <a class="left carousel-control animated fadeInLeft" href="http://www.wowthemes.net/demo/calypso/index.html#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
  <a class="right carousel-control animated fadeInRight" href="http://www.wowthemes.net/demo/calypso/index.html#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
  </section>



<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
      <img src="/assets/shp.png" class="img-responsive" alt="">
    </div>
    <!-- INTRO NOTE
================================================== -->
    <section class="intro-note topspace10">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Introducing <span class="colortext">ApSolute</span> Technology</h2>
          <p>
            <% if @introduction.present? %>
              <%= @introduction.page_content.html_safe %>
            <% else %>
             ApSolute Technologies a passionate group of developers, designers, thinkers and doers. Our team is happiest when challenged to turn difficult problems into elegant solutions. Our mission is to create and launch amazing products.
            <% end %>
          </p>
        </div>
      </div>
    </div>
    </section>
    <!-- /.intro-note end-->
    <!-- SERVICE BOXES
================================================== -->

  <section class="home-features topspace30">
    <div class="container animated fadeInUpNow notransition">
      <h1 class="small text-center">WHAT THEY SAY</h1>
      <div class="br-hr type_short">
        <span class="br-hr-h">
        <i class="icon-pencil"></i>
        </span>
      </div>
      <div id="cbp-qtrotator" class="cbp-qtrotator">   
        <%= render :partial => "home/testimonials" %>
        
      <span class="cbp-qtprogress" style="transition: width 8000ms linear; -webkit-transition: width 8000ms linear; width: 100%;"></span></div>
      <br>
      <div class="col-md-10 col-md-offset-1 animated slidea notransition">
        <div class="row">
          <div class="col-md-4">
            <h4><i class="icon icon-mobile-phone">
            </i> Mobile Development</h4>
            <div class="bottomspace30">
            <% if @service_mobile_development %>
              <%= @service_mobile_development.page_content.html_safe %>
            <% else %>
              ApSolute Technologies offer complete Android/IPhone/Widnows/BlackBerry Apps Development Solutions and has established expertise in mobile space.
            <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="icon icon-globe">
            </i> Web Development</h4>
            <div class="bottomspace30">
              <% if @service_website_development %>
                <%= @service_website_development.page_content.html_safe %>
              <% else %>
               Are your getting your website updated regularly? If yes, are you spending a hoarded wealth on website maintenance?
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <h4><i class="icon icon-building">
            </i> SEO & Designing</h4>
            <% if @servive_seo_desining %>
              <%= @servive_seo_desining.page_content.html_safe %>
            <% else %>
             Have you been in search for the best web design company to get your corporate website designed? <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>