<% provide(:title, 'Home') %>
<%= render 'layouts/slider' %>
<div id="action_box" data-arrowpos="center">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h4 class="text">
          <div align="center">Welcome To Apsolute</div>
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- end action box -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p class="custom_text">
          <% if @introduction.present? %>
            <%= @introduction.page_content %>
          <% else %>
            Give you the solution you need to succeed. Have a passion for building remarkable software that people love to use. We are proud to be able to contribute to our clients successes. We build solution to facilitate high performance, scalability and high standard code quality. We bring you quality of performance. Offer services in website development, software development, web design, e-commerce development, mobile development and SEO. Our team of skilled professional will ensure that time spent with us will be pleasure and also being productive. We proud of our achievements and we commit to go even further.
          <% end %>
        </p>
      </div>
      <div class="span8">
        <p></p>
        <div id="skills_diagram">
          <div class="legend">
            <h4>Legend:</h4>
            <ul class="skills">
              <li data-percent="45" style="background-color:#56BC9A;"> Commitment </li>
              <li data-percent="60" style="background-color:#FF9900;"> Loyalty for  Client </li>
              <li data-percent="50" style="background-color:#89877B;">Continuous Support</li>
              <li data-percent="70" style="background-color:#66CCFF;"> Obsession for  Excellent</li>
              <li data-percent="80" style="background-color:#28465e;"> 5 Year of Experience </li>
            </ul>
            <!-- end the skills -->
          </div>
          <div id="thediagram" data-width="600" data-height="600" data-maincolor="#193340" data-maintext="Apsolute" data-fontsize="15px Arial" data-textcolor="#ffffff">
          </div>
        </div>
        <!-- end skills diagram -->
        <script type="text/javascript" src="/assets/init.js"></script>
        <p></p>
      </div>
    </div>
    <%= render :partial => "/layouts/services" %>
    <%= render :partial => "/layouts/statistic" %>
  </div>
  <div class="gray-area ">
    <div style="width: 100%;" class="container">
      <div class="row ">
        <div style="width: 100%; margin-left:0;" class="span12">
          <p>
          </p>
          <section style="height: 665px;" id="process" class="winHeight">
            <ul>
              <li id="part1" class="color1 open">
                <div class="copycontent">
                  <h2>We turn Your Imagination real</h2>
                  <p class="shortcopy">&nbsp;</p>
                  <p class="fullcopy">We believe nothing is impossible. Our process is how we make it real.</p>
                  <div class="animation">
                    <div class="ani animation1 reverse">
                    </div>
                  </div>
                </div>
              </li>
              <li id="part2" class="color2">
                <div class="copycontent">
                  <h3>Conceptualization</h3>
                  <p class="shortcopy">A right beginning.</p>
                  <p class="fullcopy">An innovative idea is right beginning, but clarification of concept and features are taken care by us. Which leads to roadmap.</p>
                  <div class="animation">
                    <div class="ani animation2 reverse">
                    </div>
                  </div>
                </div>
              </li>
              <li id="part3" class="color3">
                <div class="copycontent">
                  <h3>Develop</h3>
                  <p class="shortcopy">Perfection at all level.</p>
                  <p class="fullcopy">We build for innovative ideas and we write code for growth. Every feature is develop with deep understanding of purpose of feature.</p>
                  <div class="animation">
                    <div class="ani animation3 reverse">
                    </div>
                  </div>
                </div>
              </li>
              <li id="part4" class="color4 ">
                <div class="copycontent">
                  <h3>Test</h3>
                  <p class="shortcopy">Confirming the success.</p>
                  <p class="fullcopy">Quality is never a accident. It is always the result of intelligent effort. We put enough effort to prove the quality.</p>
                  <div class="animation">
                    <div class="ani animation4 reverse">
                    </div>
                  </div>
                </div>
              </li>
              <li id="part5" class="color5">
                <div class="copycontent">
                  <h3>Maintain</h3>
                  <p class="shortcopy">We believe in long-term relationship.</p>
                  <p class="fullcopy">Once your app/website is launched, we undertake a whole range of key activities to accomplish the maintenance activities.</p>
                  <div class="animation">
                    <div class="ani animation5 reverse">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <section style="height: 665px;" id="technology" class="winHeight">
            <ul class="stacks">
              <li class="stacktitle">
                <div class="copycontent">
                  <h2>A&nbsp;<span>plenary</span><br>Service Provider Agency</h2>
                  <p>There is nothing which we can not build.</p>
                  <div class="animation">
                    <div class="ani">
                    </div>
                  </div>
                </div>
              </li>
              <li class="stack level1">
                <ul>
                  <span>
                    <h3>Mobile<br><em>Mobiles are gateway to human knowledge.<br></em></h3>
                    <h5>Mobiles are gateway to human knowledge.</h5>
                  </span>
                  <li class="top">
                    <ul>
                      <li class="w-7">
                        <h4>Android</h4>
                      </li>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>IOS</h4>
                      </li>
                    </ul>
                  </li>
                  <li class="bottom">
                    <ul>
                      <li class="w-15">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>API integeration</h4>
                      </li>
                      <li class="w-8">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Windows</h4>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="stack level2">
                <ul>
                  <span>
                    <h3>Web Design<br><em>Intuitive design is how we give user new super powers.<br></em></h3>
                    <h5>Intuitive design is how we give user new super powers.</h5>
                  </span>
                  <li class="top">
                    <ul>
                      <li class="w-4">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>HTML</h4>
                      </li>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>CSS</h4>
                      </li>
                      <li class="w-14">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Responsiveness</h4>
                      </li>
                    </ul>
                  </li>
                  <li class="bottom">
                    <ul>
                      <li class="w-10">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>Javascript</h4>
                      </li>
                      <li class="w-6">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Jquery</h4>
                      </li>
                      <li class="w-4">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Ajax</h4>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="stack level3">
                <ul>
                  <span>
                    <h3>Platform<br><em>Architectures to power your ideas.<br></em></h3>
                    <h5>Architectures to power your ideas.</h5>
                  </span>
                  <li class="top">
                    <ul>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>ROR</h4>
                      </li>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>PHP</h4>
                      </li>
                      <li class="w-15">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Microsoft .net</h4>
                      </li>
                    </ul>
                  </li>
                  <li class="bottom">
                    <ul>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>SEO</h4>
                      </li>
                      <li class="w-3">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>CMS</h4>
                      </li>
                      <li class="w-15">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Service API</h4>
                      </li>
                      <li class="w-17">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Effective Design</h4>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="stack level4">
                <ul>
                  <span>
                    <h3>Integration<br><em>Will not bring a man back from the grove.<br></em></h3>
                    <h5>Will not bring a man back from the grove.</h5>
                  </span>
                  <li class="top">
                    <ul>
                      <li class="w-8">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>Facebook</h4>
                      </li>
                      <li class="w-7">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Twitter</h4>
                      </li>
                      <li class="w-10">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Foursquare</h4>
                      </li>
                    </ul>
                  </li>
                  <li class="bottom">
                    <ul>
                      <li class="w-13">
                        <i>
                        <img src="/assets/stackline-first.png" height="100%" width="100%">
                        </i>
                        <h4>Facebook Apps</h4>
                      </li>
                      <li class="w-22">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>Open Graph Integration</h4>
                      </li>
                      <li class="w-5">
                        <i>
                        <img src="/assets/stackline.png" height="100%" width="100%">
                        </i>
                        <h4>OAuth</h4>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => "/layouts/testimonials" %>
</section>
<!-- end #content -->