<% provide(:title, 'Admin') %>
<%- model_class = Testimonial -%>
<div class="page-header">
  <h1>Change Password</h1>
</div>
<%= simple_form_for @admin_user, url: update_password_admin_users_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password %>
  <div class="form-actions">
    <%= f.button :submit, 'Change Password', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_path, :class => 'btn' %>
  </div>
<% end %>