<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div id="text-2" class="widget widget_text">
          <h3 class="widgettitle title m_title">About Apsolute</h3>
          <div class="textwidget"> ApSolute Technologies a passionate group of developers, designers, thinkers and doers.<br/><br/>Our team is happiest when challenged to turn difficult problems into elegant solutions.<br/><br/>Our mission is to create and launch amazing products.</div>
        </div>
      </div>
      <div class="span4">
        <div id="sbs_nav_menu-2" class="widget widget_sbs_nav_menu">
          <h3 class="widgettitle m_title">Menus</h3>
          <div class="zn_sbs">
            <div class="menu-footer-menu-container">
              <ul id="menu-footer-menu" class="menu">
                <li id="menu-item-768" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-768 active">
                  <%= link_to "Home", root_path %>
                </li>
                <li id="menu-item-769" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769">
                  <%= link_to "About Us", about_us_path %>
                </li>
                <li id="menu-item-772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772">
                  <%= link_to "Services", services_path %>
                </li>
                <li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773">
                  <%= link_to "Portfolio", portfolio_list_path %>
                </li>
                <li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771">
                  <%= link_to "Careers", careers_path %>
                </li>
                <li id="menu-item-770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770">
                  <%= link_to "Contact", contact_us_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="span4">
        <div id="text_contact-2" class="widget widget_text_contact">
          <h3 class="widgettitle m_title">GET IN TOUCH</h3>
          <div class="textwidget contact-details">
            <p>
              Address:&nbsp;Ahmedabad, Gujarat, India
            </p>
            <p>
              Email:&nbsp;<a href="#">apsolutetechnology@gmail.com</a>
            </p>
            <p> 
              <strong>Phone:&nbsp;(9179) 40326868</strong>
            </p>
            <p>
            <ul class="social-icons  socnav navRight">
              <li class="social-facebook">
                <a href="https://www.facebook.com/dipak.keshariya.3" target="_blank">Facebook</a>
              </li>
              <li class="social-twitter">
                <a href="https://twitter.com/ApSoluteTech" target="_blank">Twitter</a>
              </li>
              <li class="social-gplus">
                <a href="https://plus.google.com/u/0/113683917761543645898/posts?rel=auther" target="_blank">Google+</a>
              </li>
              <li class="social-linkedin">
                <a href="http://www.linkedin.com/pub/apsolute-technologie-hiring-ror-wordpress-cocos-2dx-developer/88/67/410" target="_blank">Linkedin</a>
              </li>
              <li class="social-skype">
                <a href="skype:dipak.aplosute?userinfo" target="_blank">Skype</a>
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="span12">
        <div class="bottom fixclear">
          <div class="copyright">
            <a href="http://www.apsolutetechnologies.com/"><img src="/assets/logo2.png" alt=""></a>
            <p>&copy; 2014 Copyright by Apsolute Technologies. All rights reserved.</p>
          </div>
          <!-- end copyright -->
        </div>
        <!-- end bottom -->
      </div>
    </div>
    <!-- end row -->
  </div>
</footer>
<script type="text/javascript">

  /* <![CDATA[ */
  var uberMenuSettings = {"speed":"300","trigger":"hoverIntent","orientation":"horizontal","transition":"slide","hoverInterval":"20","hoverTimeout":"400","removeConflicts":"on","autoAlign":"on","noconflict":"off","fullWidthSubs":"on","androidClick":"off","iOScloseButton":"on","loadGoogleMaps":"off","repositionOnLoad":"on"};
  /* ]]> */
</script>