<header id="header" class="style4 ">
  <div class="container">
    <!-- logo -->
    <h1 id="logo"><a href="#"><img src="/assets/logo.png" alt="Apsolute Technoloy" title="Apsolute Technology"></a></h1>
    <!-- HEADER ACTION -->
    <ul class="social-icons  topnav navRight">
      <li class="social-facebook">
                <a href="https://www.facebook.com/dipak.keshariya.3" target="_blank">Facebook</a>
              </li>
              <li class="social-twitter">
                <a href="https://twitter.com/ApSoluteTech" target="_blank">Twitter</a>
              </li>
              <li class="social-gplus">
                <a href="https://plus.google.com/u/0/113683917761543645898/posts?rel=auther" target="_blank">Google+</a>
              </li>
              <li class="social-linkedin">
                <a href="http://www.linkedin.com/pub/apsolute-technologie-hiring-ror-wordpress-cocos-2dx-developer/88/67/410" target="_blank">Linkedin</a>
              </li>
              <li class="social-skype">
                <a href="skype:dipak.aplosute?userinfo" target="_blank">Skype</a>
              </li>
    </ul>
    <!-- search -->
    <!-- main menu -->
    <nav id="main_menu" class="">
      <div id="megaMenu" class="megaMenuContainer megaResponsive megaResponsiveToggle wpmega-withjs megaMenuOnHover megaFullWidthSubs megaFullWidth megaMenuHorizontal wpmega-autoAlign wpmega-noconflict megaMinimizeResiduals megaResetStyles megaMenu-withjs">
        <div id="megaMenuToggle" class="megaMenuToggle">
          <span class="megaMenuToggle-icon"></span>
        </div>
        <ul id="megaUber" class="megaMenu">
          <li id="menu-item-718" class="menu-item menu-item-type-post_type menu-item-object-page  page_item page-item-7 ss-nav-menu-item-0 ss-nav-menu-item-depth-0 ss-nav-menu-mega ss-nav-menu-mega-alignCenter <%= 'active current-menu-item current_page_item' if current_page?(root_path) %>">
            <%= link_to  (root_path) do %>
              <span class="wpmega-link-title">Home</span>
            <% end %>
          </li>
          <li id="menu-item-763" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-with-sub ss-nav-menu-item-1 ss-nav-menu-item-depth-0 ss-nav-menu-reg um-flyout-align-center <%= 'active current-menu-item current_page_item' if current_page?(about_us_path) %>">
            <%= link_to (about_us_path) do %>
              <span class="wpmega-link-title">About Us</span>
            <% end %>
          </li>
          <li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mega-with-sub ss-nav-menu-item-2 ss-nav-menu-item-depth-0 ss-nav-menu-mega ss-nav-menu-mega-fullWidth mega-colgroup mega-colgroup-3 ss-nav-menu-mega-alignLeft <%= 'active current-menu-item current_page_item' if current_page?(services_path) %>">
            <%= link_to (services_path) do %>
              <span class="wpmega-link-title">Services</span>
            <% end %>
          </li>
          <li id="menu-item-728" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children mega-with-sub ss-nav-menu-item-3 ss-nav-menu-item-depth-0 ss-nav-menu-reg um-flyout-align-center <%= 'active current-menu-item current_page_item' if current_page?(portfolio_list_path) %>">
            <%= link_to (portfolio_list_path) do %>
              <span class="wpmega-link-title">Portfolio</span>
            <% end %>
          </li>
          <li id="menu-item-766" class="menu-item menu-item-type-post_type menu-item-object-page ss-nav-menu-item-4 ss-nav-menu-item-depth-0 ss-nav-menu-mega ss-nav-menu-mega-alignCenter <%= 'active current-menu-item current_page_item' if current_page?(careers_main_path) %>">
            <%= link_to (careers_main_path) do %>
              <span class="wpmega-link-title">Career</span>
            <% end %>
          </li>
          <li id="menu-item-766" class="menu-item menu-item-type-post_type menu-item-object-page ss-nav-menu-item-4 ss-nav-menu-item-depth-0 ss-nav-menu-mega ss-nav-menu-mega-alignCenter <%= 'active current-menu-item current_page_item'if current_page?(contact_us_path) %>">
            <%= link_to (contact_us_path) do %>
              <span class="wpmega-link-title">Contact Us</span>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end main_menu -->
  </div>
</header>