<!DOCTYPE html>
<!--[if IE 7 ]>    
  <html lang="en-US" class="isie ie7 oldie no-js">
<![endif]-->
<!--[if IE 8 ]>    
  <html lang="en-US" class="isie ie8 oldie no-js">
<![endif]-->
<!--[if IE 9 ]>    
  <html lang="en-US" class="isie ie9 no-js">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
  <html lang="en-US">
<!--<![endif]-->
  <head>
    <title>Apsolute Technologies</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link type="image/vnd.microsoft.icon" rel="shortcut icon" href="/assets/favicon.png">
    <!--[if lte IE 9]>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript">
      var $buoop = {
        vs: {
          i: 8,
          f: 6,
          o: 10.6,
          s: 4,
          n: 9
        }
      }
      $buoop.ol = window.onload;
      window.onload = function () {
        try {
          if ($buoop.ol) $buoop.ol();
        } catch (e) {}
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "http://browser-update.org/update.js");
        document.body.appendChild(e);
      }
    </script>
    <![endif]-->          
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page_wrapper">
      <%= render :partial => "/layouts/header" %>
      <%= yield %>
      <%= render :partial => "/layouts/footer" %>
    </div>
    <!-- end page_wrapper -->
  </body>
</html>